:host {
    width: calc(100% - 200px);
    //min-height: calc(100vh - 60px);
    margin-top: 60px;
    margin-left: 200px;
    //background-color: rgb(231, 236, 236);
    background-color: #e6ecff;
    display: flex;
    flex-direction: column;
    .join-group {
        display: flex;
        align-self: flex-end;
        margin-right: 50px;
        margin-top: 50px;
        width: 150px;
        height: 40px;
        align-items: center;
        justify-content: center;
        background-color: rgb(141, 173, 255);
        border-radius: 8px;
        border: 1px solid rgb(224, 251, 255);
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    .join-group:hover {
        background-color: rgb(106, 152, 253);
    }
    .leaderboard-header {
        width: calc(100% - 100px);
        min-height: 60px;
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        .leaderboard-nav {
            justify-self: center;
            display: flex;
            width: 150px;
            height: 100%;
            //background-color: red;
            align-items: center;
            justify-content: space-evenly;
            a {
                font-size: 18px;
            }
        }
    
    }
    .leaderboard-global-page {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 20px;
        //min-height: 600px;
        margin-bottom: 50px;
        display: flex;
        //background-color: white;
        .leaderboard-sidebar {
            height: 100%;
            width: 250px;
            //background-color: white;
            display: flex;
            flex-direction: column;
            .dropdown {
                position: relative;
                width: 100%;
              
                label {
                  font-size: 16px;
                  margin-bottom: 5px;
                  display: block;
                }
              
                select {
                  width: 100%;
                  padding: 12px 20px;
                  font-size: 16px;
                  border: 1px solid #ccc;
                  border-radius: 4px 4px 0 0;
                  background-color: white;
                  color: #333;
                  appearance: none;
                  cursor: pointer;
                  transition: border-color 0.3s ease;
              
                  &:hover {
                    border-color: #4CAF50;
                  }
              
                  &:focus {
                    border-color: #45a049;
                    outline: none;
                  }
              
                  option {
                    padding: 10px;
                    background-color: white;
                    color: #333;
                  }
                }
              }
            .organisation-item {
                align-items: center;
                cursor: pointer;
                font-size: 18px;
                width: 100%;
                height: 50px;
                display: flex;
                border: 1px solid rgb(230, 228, 228);
                background-color: #d69cff;
                color: rgb(55, 53, 53);
                p {
                    margin-left: 10px;
                    color: rgb(83, 80, 95);
                }
            }
            .active {
                background-color: #e5c1ff;
                border: 2px solid rgb(108, 56, 95);
                border-radius: 3px;
            }
            .organisation-item:hover {
                background-color: rgb(249, 238, 255);
            }
            
        }
        .leaderboard-table {
            //height: 100%;
            width: calc(100% - 270px);
            margin-left:20px;
            background-color: #8A2BE2;
            display: flex;
            flex-direction: column;
            color: white;
            .leaderboard-head {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 60px;
                .org-name {
                    font-size: 25px;
                }
            }
            .leaderboard-headrow {
                display: flex;
                width: 100%;
                height: 50px;
                border: 1px solid black;
                .col1 {
                    width: 100px;
                    align-items: center;
                    //background-color: red;
                    display: flex;
                    margin-left: 20px;
                }
                .col2 {
                    width: calc(100% - 200px);
                    //background-color: red;
                    display: flex;
                    align-items: center;
                }
                .col3 {
                    width: 100px;
                    //background-color: red;
                    display: flex;
                    align-items: center;
                }
            }
            .leaderboard-row {
                display: flex;
                width: 100%;
                height: 50px;
                border: 1px solid black;
                .col1 {
                    width: 100px;
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    .position-div {
                        width: 40px;
                        height: 40px;
                        
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .col2 {
                    width: calc(100% - 200px);
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    .member-img {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        border-radius: 50%;
                        background-color: aqua;
                    }
                    .member-name {
                        font-size: 18px;
                        margin-left: 10px;
                    }
                }
                .col3 {
                    width: 100px;
                    //background-color: red;
                    display: flex;
                    align-items: center;
                    .points {
                        font-size: 18px;
                        color: rgb(245, 125, 125);
                        font-weight: bolder;
                    }
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .leaderboard-row:hover {
                background-color: rgb(183, 147, 255);
                cursor: pointer;
            }
            .first-place {
                .col1 {
                    .position-div {
                        background-color: orange;
                    }
                }
            }

            .second-place {
                .col1 {
                    .position-div {
                        background-color: rgb(155, 155, 152);
                    }
                }
            }
            .third-place {
                .col1 {
                    .position-div {
                        background-color: rgb(245, 215, 159);
                    }
                }
            }
        }
    }

}