<button (click)="openJoinModal()" class="join-group">Join group</button>
<!--
<div class="leaderboard-header">
    <div class="leaderboard-nav">
        <div class="">Global</div>
        <div class="">Private</div>
    </div>
</div>-->
<div class="leaderboard-global-page">
    <div class="leaderboard-sidebar">
        <!--
        <form [formGroup]="formGroup">
            <p-dropdown 
                formControlName="selectedCity" 
                [options]="options"
                optionLabel="name"
                placeholder="Select a City" />
        </form>
    -->
        <div class="organisation-item">
            <p>Isatis Software Solutions</p>
        </div>
        <div class="organisation-item">
            <p>Isatis Software Solutions</p>
        </div>
        <div class="organisation-item">
            <p>Isatis Software Solutions</p>
        </div>
    </div>
    <div class="leaderboard-table">
        <div class="leaderboard-headrow">
            <div class="col1">
                <p>Rank</p>
            </div>
            <div class="col2">
                <p>Member</p>
            </div>
            <div class="col3">
                <p>Points</p>
            </div>
        </div>
        @for (member of members; track $index) {
            <div class="leaderboard-row">
                <div class="col1">
                    <div class="position-div">
                        <p>{{member.position}}</p>
                    </div>
                </div>
                <div class="col2">
                    <div class="member-img"></div>
                    <p class="member-name">{{member.name}}</p>
                </div>
                <div class="col3">
                    <p class="points">{{member.points}}</p>
                    <img src="https://www.svgrepo.com/show/506715/fire.svg" alt="">
                </div>
            </div>
        }
    </div>
</div>
