<p class="section-title">Welcome Edis!</p>
<div class="main-section">
    <div class="first-section">
        <p class="title">Learn, play and earn gifts!</p>
        <p class="subtitle"> dad a da dad ad ada d a adsdsa dads s dsdada dadad adadad adadad</p>
        <div class="row-buttons">
            <button class="rewards">View rewards</button>
            <button class="intro">Get started</button>
        </div>
    </div>
    <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-tree-planting-illustration_23-2149210052.jpg" alt="">
</div>
<p class="section-title">Daily articles</p>
<div class="articles-section">
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
    <app-article-card></app-article-card>
</div>
<button (click)="openQuiz()" class="quiz">Attempt quiz</button>
<p class="section-title">Trending events</p>
<div class="events-section">
    @for (item of numbers; track $index) {
        <app-event-card [event]="events[item]" [routerLink]="['/events', item]"></app-event-card>
    }
</div>
