<div class="events-menu">
    <mat-form-field>
        <mat-label>Event category</mat-label>
        <select matNativeControl >
          <option value="">Sport</option>
          <option value="">Culture</option>
          <option value="">Art</option>
          <option value="">Educational</option>
        </select>
      </mat-form-field>
    <button class="filter">Filter</button>
    <button class="reset">Reset</button>
</div>
<div class="events-grid">
    <app-event-card [routerLink] = "['events/1']"></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
    <app-event-card></app-event-card>
</div>
