:host {
    width: calc(100% - 200px);
    //min-height: calc(100vh - 60px);
    margin-top: 60px;
    margin-left: 200px;
    //background-color: rgb(231, 236, 236);
    background-color: #e6ecff;
    display: flex;
    flex-direction: column;
    .events-menu {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        align-items: center;
        mat-form-field {
            margin-right: 20px;
            margin-top: 10px;
        }
    }
    .events-grid {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 20px;
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        //background-color: #f0f1f3;     
        row-gap: 25px;
        margin-bottom: 50px;
    }
}